{% extends "baseAdmin.html.twig" %}
{% block title %}
  {{ parent() }}

{% endblock %}
{% block activeCO %}active{% endblock %}
{% block contenu %}

  <div class="centerdiv">
    <div class="card box-shadow" style="width: 100%;">

      <div class="card-body">
        <h3 class="card-title">Table collection</h3>

        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Collection</th>
                <th scope="col">Modif</th>
                <th scope="col">Trash</th>
                <!-- <th scope="col"></th> -->
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Collection</th>
                <th scope="col">Modif</th>
                <th scope="col">Trash</th>
                <!-- <th scope="col"></th> -->
              </tr>
            </tfoot>
            <tbody>
              {% for c in liste %}

                  <tr>
                    <th scope="row">#{{ c.idcollection }}</th>
                    <td>{{ c.libellecollection }}</td>
                    <td>

                      <a href="index.php?page=modifcollection&id={{c.idcollection}}">
                        <i class="fas fa-edit icon"></i>
                      </a>
                    </td>
                    <td>
                    <button class="btn-form-modal" type="button" name="button" data-toggle="modal" data-target="#deleteCollection{{c.idcollection}}"><i class="fas fa-trash icon"></i></button>
                    </td>
                    <!-- <td><label class="checkbox">
                      <input type="checkbox" name="cocher[]" id="cocher[]" value="{{c.idcollection}}"/>
                      <span class="default"></span>
                    </label></td> -->
                  </tr>
                  <!-- Modal -->
                  <div class="modal fade" id="deleteCollection{{c.idcollection}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content box-shadow">
                        <div class="card-header-modal">
                          <h3 class="card-title" id="exampleModalLabel">Voulez vous supprimer cette collection ?</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Attention ! Tout les livres qui on pour collection <span class="span">{{ c.libellecollection }}</span> seront suprimer !</p>
                          <hr>
                          <div class="textcenter">
                            <a href="#" class="btn-event" data-dismiss="modal">Annuler</a>
                            <a href="index.php?page=admincollection&id={{c.idcollection}}" class="btn-event-sup">Suprimer</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- <p class="card-text"></p> -->
        <br>
        <div class="textcenter">
          <a href="#" class="btn-event-sup">Suprimer</a>
          <a href="index.php?page=ajoutcollection" class="btn-event" >Ajouter</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
