{% extends "baseAdmin.html.twig" %}
{% block title %}
  {{ parent() }}

{% endblock %}
{% block activeCO %}active{% endblock %}
{% block contenu %}

  <div class="centerdiv">
    <div class="card box-shadow card-size">
      <div class="card-body">
        {% if form.collection is defined %}
          {% if form.collection != null %}
            <h3 class="card-title">modifier collection</h3>
            <form action="index.php?page=modifcollection" method="post">

              <div class="form-group">
                <!-- <label for="inputLibellecollection">Saisir un libelle de collection</label> -->
                <input type="text" class="form-control form-control-ajout" name="inputLibellecollection" id="inputLibellecollection" placeholder="{{ form.collection.libellecollection }}" value="{{ form.collection.libellecollection }}">
              </div>
              <br>
              <div class="textcenter">
              <input type="hidden" name="idcollection" value="{{ form.collection.idcollection }}"/>
                <a href="index.php?page=admincollection" class="btn-event-sup">Annuler</a>
                <button type="submit" class="btn-form" name="btModifier">Modifier</button>
              </div>
            </form>
          {% else %}
            <h3 class="card-title">{{ form.messageTitre }}</h3>
            <p class="cadr-text">{{ form.message }}</p>
            <hr>
            <div class="textcenter">
              <a href="index.php?page=admincollection" class="btn-event">Retour</a>
            </div>
          {% endif %}
        {% else %}
          {% if form.valide == true %}
              <h3 class="card-title">{{ form.messageTitre }}</h3>
              <p class="cadr-text">{{ form.message }}</p>
              <hr>
              <div class="textcenter">
                <a href="index.php?page=admincollection" class="btn-event">Retour</a>
              </div>
          {% else %}
              <h3 class="card-title">{{ form.messageTitre }}</h3>
              <p class="cadr-text">{{ form.message }}</p>
              <hr>
              <div class="textcenter">
                <a href="index.php?page=admincollection" class="btn-event">Retour</a>
              </div>
          {% endif %}
        {% endif %}
        </div>
      </div>
    </div>
  {% endblock %}
