{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}
{% block contenu %}

<center><h3>
    Vous êtes un Maître du Jeu ? Vous voulez proposer une partie de JDR ? </br>
    Vous pouvez dès à présent le faire ! Choisissez votre jeu parmi ceux proposé par votre libraire, puis expliquez votre spitch, les informations compémentaire et vos disponibilités.
</h3></center>
<h1>Quel jeu voulez-vous masteuriser ?</h1>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        {% set compte = 1 %}
        {% for j in listeJeu %}
            {% if compte < 4 %}
                <td>
                    <a href="index.php?page=creaJDR&id={{j.IdJeu}}">
                        <center>
                            <img class="cellLivre" src="{{j.IllustrationJeu}}"/></br>
                            {{j.NomJeu}}</br>
                        </center>
                    </a>
                </td>
            {% else %}
                <td>
                    <a href="index.php?page=creaJDR&id={{j.IdJeu}}">
                        <center>
                            <img class="cellLivre" src="{{j.IllustrationJeu}}"/></br>
                            {{j.NomJeu}}</br>
                        </center>
                    </a>
                </td>
                <tr>
                {% set  compte = 0 %}
            {% endif %}
            {% set compte = compte + 1 %}
        {% endfor %}
    </table>
</div>


{% endblock %}
