{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}
{% block contenu %}

{% if form.valide is defined %}
    <h1> {{form.message}} </h1>
{% endif %}
<div class="panel panel-primary">
    <div class="panel-heading"> Créer un JDR pour : {{form.leJeu.NomJeu}}</div>
    <div class="panel-body">
        <center> <img src="{{form.leJeu.IllustrationJeu}}" width="300"/> </center>
        <form class="form-signin" action="index.php?page=creaJDR&test=1" method="post" enctype="multipart/form-data">
            <input type="text" id="inputPseudo" name="inputPseudo" class="form-control" placeholder="Pseudo" required autofocus/>
            <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required autofocus/>
            <input type="text" id="inputTel" name="inputTel" class="form-control" placeholder="Numéro de téléphone" required autofocus/>
            <textarea name="inputSynopsis" class="form-control" placeholder="Quel sera le synopsis de votre Jeu de rôle ?" rows="5" required></textarea>
            <p>Fournis le matériel <input type="checkbox" name="inputFournis" autofocus/></p>
            <input type="number" name="inputNbrJoueur" placeholder="Nombre de joueur requis" style="width: 180px;" required autofocus/>
            {% for date in dateDispo %}
                </br><input type="date" value="{{date}}"/>
            {% endfor %}


            <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjoutJDR">Envoyer votre proposition</button>
        </form>
    </div>
</div>



{% endblock %}
