{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}
{% block contenu %}

    {% if form.valide is defined %}
        {% if form.valide == false %}
            <h1>Echec lors de l'affichage du formulaire</h1>
            <h1> Erreur : {{form.message}} </h1></br>
            <center><h2><a href="index.php?page=choixJeu"> Retourner sur la sélection du jeu </a></h2></center>
        {% else %}
            <h1>Succès !</h1>
        {% endif %}
    {% else %}
        <div class="panel panel-primary">
            <div class="panel-heading"> Créer un JDR pour : {{form.leJeu.NomJeu}}</div>
            <div class="panel-body">
                <center> <img src="{{form.leJeu.IllustrationJeu}}" width="300"/> </center>
                <form class="form-signin" action="index.php?page=creaJDR" method="post" enctype="multipart/form-data">
                    <input type="text" id="inputPseudo" name="inputPseudo" class="form-control" placeholder="Pseudo" required autofocus/>
                    <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required autofocus/>
                    <input type="text" id="inputTel" name="inputTel" class="form-control" placeholder="Numéro de téléphone" required autofocus/>
                    <textarea name="inputSynopsis" class="form-control" placeholder="Quel sera le synopsis de votre Jeu de rôle ?" rows="5" required></textarea>
                    <p  class="form-control">Fournis le matériel <input type="checkbox" name="inputFournis" autofocus/></p>
                    <input type="number" name="inputNbrJoueur"  class="form-control" placeholder="Nombre de joueur requis" style="width: 300px;" required autofocus/>
                    {% for date in dateDispo %}
                        <p  class="form-control">{{date|date('d-m-Y')}} <input type="checkbox" name="dateDisp[]" value="{{date}}" autofocus/></p>
                    {% endfor %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjoutJDR">Envoyer votre proposition</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
