{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}

{% block contenu %}

<center><div>
    Bienvenue la librairie d'Arras : Légendarium ! Ici arrageois, arrageoise ainsi que tout les Habitants proche de la ville
    d'Arras pourront venir profiter des conseils de Pierre, le gérant ainsi que ses associés pour savoir quel sera le meilleur
    livre pour vous. Si vous êtes un passioné de lecture et que vous aimez la littérature fantastique, ce libraire est fait pourront
    vous ! Vous êtes plus un joueur ou une joueuse ? Pas de problème ! Des jeux de rôles sont organisés tout les mois ! Venez partager
    un moment avec les autres joueurs role-player d'Arras ! Des évenements et des rencontres sont aussi organisés régulièrement
    afin de vous faire découvrir de nouveaux livres et de nouveaux auteurs et ainsi partager votre passion pour la lecture.
    De nouveaux livres débarqueront chaque mois afin de rassasier votre envie de lire !
</div></center>

<section class="slideshow-remi">
    <center><h2> Les dernières nouveautés </h2></center>
    <img src="../web/images/nouveautes.png" class="nouveates_img"/>
    {% for d in DN %}
        <center class="mySlides1 w3-animate-opacity">
            <img src="{{d.IllustrationLivre}}" width="270" height="370"></br>
            <a class="slide-remi" href="index.php?page=livre&id={{d.IdLivre}}"> {{d.TitreLivre}} - ({{d.NomAuteur}})</a></br>
        </center>
    {% endfor %}
    <center>
        <button class="button" onclick="plusSlides(-1, 0);">&#10094;</button>
        <button class="button" onclick="plusSlides(1, 0);">&#10095;</button>
    </center>
</section>

<section class="slideshow2-remi">
    <center><h2> Les coups de coeurs </h2></center>
    <img src="../web/images/coupcoeur.png" class="coupcoeur_img"/>
    {% for c in CC %}
        <center class="mySlides2 w3-animate-opacity">
            <img src="{{c.IllustrationLivre}}" width="270" height="370"></br>
            <a class="slide-remi" href="index.php?page=livre&id={{c.IdLivre}}"> {{c.TitreLivre}} - ({{c.NomAuteur}})</a></br>
        </center>
    {% endfor %}
    <center>
        <button class="button" onclick="plusSlides(-1, 1);">&#10094;</button>
        <button class="button" onclick="plusSlides(1, 1);">&#10095;</button>
    </center>
</section>

<div class="slideshow3-remi">
    <center><h2> Les évevenements de votre Librairie </h2></center>
    {% if event is empty %}
        <center class="mySlides3 w3-animate-opacity">
            <img src="../web/images/legendarium2.png" width="720" height="480"></br>
            <a class="slide-remi" href="#"> Aucun évenement de prévu </a></br>
        </center>
    {% else %}
        {% for e in event %}
            <center class="mySlides3 w3-animate-opacity">
                <img src="{{e.IllustrationEvent}}" width="720" height="480"></br>
                <a class="slide-remi" href="index.php?page=presEvent&idEvent={{e.IdEvent}}"> {{e.TitreEvent}} - ({{e.DateEvent}})</a></br>
            </center>
        {% endfor %}
    {% endif %}
</div>
<center>
    <button class="button" onclick="plusSlides(-1, 2);">&#10094;</button>
    <button class="button" onclick="plusSlides(1, 2);">&#10095;</button>
</center>









<script>

var slideIndex = [1,1,1];
/* Class the members of each slideshow group with different CSS classes */
var slideId = ["mySlides1", "mySlides2", "mySlides3"]
showSlides(1, 0);
showSlides(1, 1);
showSlides(1, 2);

function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  var i;
  var x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex[no]-1].style.display = "block";
}

</script>

{% endblock %}
