{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}

{% block contenu %}


<form action="index.php?page=librairie" method="post" enctype="application/x-www-form-urlencoded">
    <input class="form-control mr-sm-2" type="search" name="Search" placeholder="Rechercher" arialabel="Rechercher">
    <button class="btn btn-outline-success my-2 my-sm-0" name="btSearch" type="submit">OK</button>
</form>


<li class="dropdown">
    <a class="dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trier par :</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="index.php?page=librairie&id={{form.id}}">Ordre alphabétique</a></li>
        <li><a class="dropdown-item" href="index.php?page=librairie&id={{form.id}}&trier=1">Les dernières arrivées</a></li>
        <li><a class="dropdown-item" href="index.php?page=librairie&id={{form.id}}&trier=2">Les plus aimés</a></li>
        <li><a class="dropdown-item" href="index.php?page=librairie&id={{form.id}}&trier=3">Prix croissant</a></li>
        <li><a class="dropdown-item" href="index.php?page=librairie&id={{form.id}}&trier=4">Prix décroissant</a></li>
    </ul>
</li>


<div class="table-responsive">
    <table class="table table-hover table-striped">
        {% set compte = 1 %}
        {% for l in liste %}
            {% if compte < 4 %}
                <td>
                    <a href="index.php?page=livre&id={{l.IdLivre}}" style="color:{{l.CouleurDisponibilite}};">
                        <center>
                            <img class="cellLivre" src="{{l.IllustrationLivre}}"/></br>
                            {{l.TitreLivre}}</br>
                            {{l.NomAuteur}}</br>
                            {{l.PrixLivre}}€</br>
                            {{l.LibelleDisponibilite}}
                        </center>
                    </a>
                </td>
            {% else %}
                <td>
                    <a href="index.php?page=livre&id={{l.IdLivre}}" style="color:{{l.CouleurDisponibilite}}">
                        <center>
                            <img class="cellLivre" src="{{l.IllustrationLivre}}"/></br>
                            {{l.TitreLivre}}</br>
                            {{l.NomAuteur}}</br>
                            {{l.PrixLivre}}€</br>
                            {{l.LibelleDisponibilite}}
                        </center>
                    </a>
                </td>
                <tr>
                {% set  compte = 0 %}
            {% endif %}
            {% set compte = compte + 1 %}
        {% endfor %}
    </table>
</div>
{% endblock %}
