{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Administration {% endblock %}

{% block contenu %}

    <div class="panel panel-primary">

        <div class="panel-heading">Modifier un Livre </div>
        <div class="panel-body">
            {% for l in liste %}
                <form  class="form-signin" action="index.php?page=modifLivre" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="text" id="inputTitre" name="inputTitre" class="form-control" value="{{l.TitreLivre}}" required autofocus/>
                    <select name="inputAuteur" class="form-control" required>
                        <option value="{{l.Auteur}}">{{l.NomAuteur}}</option>
                        {% for a in auteur %}
                            {% if a.Auteur!=l.IdAuteur%}
                                <option value="{{a.IdAuteur}}">{{a.NomAuteur}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select name="inputEditeur" class="form-control" required>
                        <option value="{{l.Editeur}}">{{l.LibelleEditeur}}</option>
                        {% for e in editeur %}
                            {% if l.Editeur != e.IdEditeur%}
                                <option value="{{e.IdEditeur}}">{{e.LibelleEditeur}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="number" step="1" id="inputAnnee" value="{{l.AnneeLivre}}"  class="form-control" name="inputAnnee" value="1900" required />
                    <select name="inputType" class="form-control" required>
                        <option value="{{l.TypeLivre}}">{{l.LibelleType}}</option>
                        {% for t in type %}
                            {% if l.TypeLivre!=t.IdType %}
                                <option value="{{t.IdType}}">{{t.LibelleType}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <textarea name="inputResume" class="form-control" rows="5" required>{{l.ResumeLivre}}</textarea>
                    <input type="text" id="inputISBN" name="inputISBN" class="form-control" value="{{l.ISBNLivre}}" minlength="16" maxlength="18" size="18"required autofocus/>
                    <select name="inputDispo" class="form-control" required>
                        <option value="{{l.DispoLivre}}">{{l.LibelleDisponibilite}}</option>
                        {% for d in dispo %}
                            {% if l.DispoLivre != d.IdDisponibilite %}
                                <option value="{{d.IdDisponibilite}}">{{d.LibelleDisponibilite}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="number" step="0.01" id="inputPrix" value="{{l.PrixLivre}}"  class="form-control" name="inputPrix" required />
                    <input type="number" step="1" id="inputNbrExemplaire" value="{{l.NbrExemplaireLivre}}"  class="form-control" name="inputNbrExemplaire" required />
                    <input type="hidden" name="id" value="{{l.IdLivre}}" />
                    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifLivre">Modifier le livre</button>
                </form>
            {% endfor %}

        </div>    
    </div>
{% endblock %} 