{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Administration {% endblock %}

{% block contenu %}

<div class="panel panel-primary">

        <div class="panel-heading">Modifier un Jeu </div>
         <div class="panel-body">
            <form  class="form-signin" action="index.php?page=modifJeu" method="post" enctype="application/x-www-form-urlencoded">
                
                <label for="inputLibelle" class="sr-only">{{jeu.NomJeu}}</label>
                <input type="text" id="inputNom" name="inputNomJeu" class="form-control" value="{{jeu.NomJeu}}" required autofocus/>
                <input type="number" id="inputDureeJeu" name="inputDureeJeu" class="form-control" value="{{jeu.DureeMoyJeu}}" step="0.5" required autofocus/>
                <textarea name="inputDescription" class="form-control" rows="5" required>{{jeu.DescriptionJeu}}</textarea>
                <textarea name="inputRegleJeu" class="form-control" rows="5" required>{{jeu.RegleJeu}}</textarea>
                <input type="hidden" name="id" value="{{jeu.IdJeu}}"/>
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifJ">Modifier</button>
            </form>
         </div>    
  </div>
{% endblock %} 