{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Administration {% endblock %}

{% block contenu %}

<div class="panel panel-primary">
    <div class="panel-heading">Modifier un Event </div>
    <div class="panel-body">
        <form class="form-signin" action="index.php?page=modifEvent" method="post" enctype="multipart/form-data">

            <input type="text" id="inputTitre" name="inputTitre" class="form-control" value="{{event.TitreEvent}}" required autofocus/>
            <textarea name="inputDescription" class="form-control" rows="5" required>{{event.DescriptionEvent}}</textarea>
            <input type="date" id="inputDate" name="inputDate" value="{{event.DateEvent}}" class="form-control" required autofocus/>
            <input type="hidden" name="id" value="{{event.IdEvent}}"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifE">Ajouter un Event</button>
        </form>
    </div>    
</div>

            
{% endblock %} 



