{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Administration {% endblock %}

{% block contenu %}
    {% if form.valide is defined %}
        {% if form.valide == false  %}
            <h1> Erreur : {{form.message}} </h1>
        {% else %}
            <center>
                <h1>
                    Succès : {{form.message}}</br></br>
                    <u>{{form.titre}}</u></br>
                    {{form.message2}}</br></br>
                    <b>{{form.code}}</b></br>
                    {{form.message3}}
                    <a href="index.php?page=librairie"> Revenir à la librairie </a>
                </h1>
            </center>

        {% endif %}
    {% else %}
            {% for l in liste %}
                <h1> {{l.TitreLivre}} </h1>

            <div class="panel panel-default">

                <center>
                    <img src="{{l.IllustrationLivre}}" width="250"/></br>
                    Auteur : {{l.NomAuteur}}</br>
                    Genre : {{l.LibelleType}}</br>
                    Editeur : {{l.LibelleEditeur}}</br>
                    Prix : {{l.PrixLivre}} €</br>
                    Note : {{l.JaimeLivre}}

                    <form action="index.php?page=livre&id={{l.IdLivre}}" method="post">
                        <input type="hidden" name="idLivre" value="{{l.IdLivre}}"/>
                        <button {% if form.valideIP==true %} class="jaime" {% else %} class="jaimeVert" {% endif %}name="btJaime"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"/></button></br>
                    </form>
                    <p style="color:{{l.CouleurDisponibilite}};">{{l.LibelleDisponibilite}}</p></br>


                    {% if l.DispoLivre == 1 %}
                        <button id="cb" onclick="saisir();" name="btReserver" class="jaime">Réserver <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"/></button></br></br>
                    {% elseif l.DispoLivre == 2 %}
                        <button id="cb" onclick="saisir();" name="btReserver" class="jaime">Pré-réserver <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"/></button></br></br>
                    {% endif %}
                    <div id="coucou">
                            <form action="index.php?page=livre&id={{l.IdLivre}}" method="post">
                                <h4> Pseudonyme sous lequel vous allez retirer votre livre : </h4>
                                <input type="text" placeholder="Pseudo" name="inputPseudo"/>
                                <input type="hidden" name="idLivre" value="{{l.IdLivre}}">
                                <button class="jaime" name="btReserver"><span class="glyphicon glyphicon-ok"/></button>
                            </form>
                        </div></br></br>
                    <div class="resume">
                        {{l.ResumeLivre|nl2br}}
                    </div>
                </center>
            </div>
    <script>
        document.getElementById('coucou').style.display = 'none';
        function saisir()
        {
            if (document.getElementById('coucou').style.display == 'none')
            {
                 document.getElementById('coucou').style.display = 'block';
            }
            else
            {
                 document.getElementById('coucou').style.display = 'none';
            }
        }
    </script>


            <h2> Du même auteur: </h2>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    {% set compte = 1 %}
                    {% for a in listea %}
                        {% if compte < 4 %}
                            <td>
                                <a href="index.php?page=livre&id={{a.IdLivre}}" style="color:{{a.CouleurDisponibilite}};">
                                    <center>
                                        <img class="cellLivre" src="{{a.IllustrationLivre}}"/></br>
                                        Auteur: {{a.NomAuteur}}</br>
                                        Prix: {{a.PrixLivre}}€</br>
                                        {{a.LibelleDisponibilite}}</br>
                                    </center>
                                </a>
                            </td>
                        {% else %}
                            <td>
                                <a href="index.php?page=livre&id={{a.IdLivre}}" style="color:{{a.CouleurDisponibilite}}">
                                    <center>
                                        <img class="cellLivre" src="{{a.IllustrationLivre}}"/></br>
                                        Auteur: {{a.NomAuteur}}</br>
                                        Prix: {{a.PrixLivre}}€</br>
                                        {{a.LibelleDisponibilite}}</br>
                                    </center>
                                </a>
                            </td>
                            <tr>
                            {% set  compte = 0 %}
                        {% endif %}
                        {% set compte = compte + 1 %}
                    {% endfor %}
                </table>
            </div>

            <h2> Du même genre: </h2>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    {% set compte = 1 %}
                    {% for g in listeg %}
                        {% if compte < 4 %}
                            <td>
                                <a href="index.php?page=livre&id={{g.IdLivre}}" style="color:{{g.CouleurDisponibilite}};">
                                    <center>
                                        <img class="cellLivre" src="{{g.IllustrationLivre}}"/></br>
                                        Auteur: {{g.NomAuteur}}</br>
                                        Prix: {{g.PrixLivre}}€</br>
                                        {{g.LibelleDisponibilite}}
                                    </center>
                                </a>
                            </td>
                        {% else %}
                            <td>
                                <a href="index.php?page=livre&id={{g.IdLivre}}" style="color:{{g.CouleurDisponibilite}}">
                                    <center>
                                        <img class="cellLivre" src="{{g.IllustrationLivre}}"/></br>
                                        Auteur: {{g.NomAuteur}}</br>
                                        Prix: {{g.PrixLivre}}€</br>
                                        {{g.LibelleDisponibilite}}
                                    </center>
                                </a>
                            </td>
                            <tr>
                            {% set  compte = 0 %}
                        {% endif %}
                        {% set compte = compte + 1 %}
                    {% endfor %}
                </table>
            </div>

            {% endfor %}
        {% endif %}
{% endblock %}
